.TodoSearch {
    display: block;
    margin: 0 auto;
    background: transparent;
    border-radius: 1rem;
    border: 2px solid #202329;
    height: 64px;
    width: calc(50% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #fff;
    box-shadow: 0px 5px 30px rgba(48, 47, 47, 0.671)
}

.TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
}

.TodoSearch:focus {
    outline-color: #1c6a8a;
}